<section class="container">
	<div class="game-detail">
		<img src="{{game.cover}}" alt="{{game.title}}">
		<div class="game-detail-info">
			<h2>{{game.title}}</h2>
			<p>{{game.releaseYear}}</p>
			<p>{{game.review}}</p>
		</div>
	</div>
</section>